# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python313 w/ Poetry - Ruff & Pytest

on:
  push:
    branches: 
      - '**'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  python-ci-poetry-ruff-pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry ruff pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Create Poetry Environment
      run: |
        poetry install
    - name: Lint with ruff
      run: |
        poetry run ruff check
    - name: Type Check with mypy
      run: |
        poetry run mypy src
    - name: Check formatting with ruff
      run: |
        poetry run ruff format --check
    - name: Test with pytest
      run: |
        poetry run pytest